.formacao {
  background: #141414;
  color: white;
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("/img/detalhelinhas.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao-texto strong {
  color: #ffffff;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao-subtitulo {
    color: #ffffff;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
}
